/.gradle/
/.idea/*.xml
/.idea/caches/
/.idea/dictionaries/
/.idea/libraries/
/captures/
/local.properties
/.tmp_*/
/release/
.DS_Store
.cxx/
Thumbs.db
build/
*.apk
*.class
*.dex
*.iml
*.jks
release-signing/
gradlew.bat
maint/
